
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

#art-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin: 20px;
}

.rectangle {
    margin-bottom: 10px; 
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

.rectangle {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}

.rectangle:hover {
    background-color: #2980b9;
}
